@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors that appear throughout the page */
:root {
    --gray-dark: #181920;
    --neutral-dark: #171717;
    --neutral-light: #f2f2f2;

    --rating-bar-0: #4b5563;
    --rating-bar-1: #ef4444;
    --rating-bar-2: #eab308;
    --rating-bar-3: #a5c311;
    --rating-bar-4: #22c55e;
    --rating-bar-5: #0ea5e9;

    --accent-400: #818cf8;
    --accent-500: #6366f1;
    --accent-600: #4f46e5;
}

/* colors used for the light theme */
.theme-light {
    --primary-bg: var(--neutral-light);
    --accent-bg: var(--accent-600);

    --primary-text: var(--gray-dark);
    --accent-text: var(--accent-600);
}

/* colors used for the dark theme */
.theme-dark {
    --primary-bg: var(--gray-dark);
    --accent-bg: var(--accent-500);

    --primary-text: var(--neutral-light);
    --accent-text: var(--accent-400);
}