@tailwind base;
@tailwind components;
@tailwind utilities;

/* colors that appear throughout the page */
:root {
    --primary-light: #f2f2f2;
    --primary-dark: #181920;

    --accent-lighter: #818cf8;
    --accent: #6366f1;
    --accent-darker: #4f46e5;

    --rating-bar-0: #4b5563;
    --rating-bar-1: #ef4444;
    --rating-bar-2: #eab308;
    --rating-bar-3: #a5c311;
    --rating-bar-4: #22c55e;
    --rating-bar-5: #0ea5e9;

    --neutral-dark: #171717;
}

/* colors used for the light theme */
.theme-light {
    --primary-bg: var(--primary-light);
    --accent-bg: var(--accent-darker);

    --primary-text: var(--primary-dark);
    --accent-text: var(--accent-darker);
}

/* colors used for the dark theme */
.theme-dark {
    --primary-bg: var(--primary-dark);
    --accent-bg: var(--accent);

    --primary-text: var(--primary-light);
    --accent-text: var(--accent-lighter);
}

.ghost {
    border: 2px dashed rgb(14, 165, 233);
    background-color: rgba(14, 165, 233, 0.05);
    border-radius: 0.5rem;
}

.ghost > * {
    visibility: hidden;
}

.dragging > * {
    transform: rotate(5deg);
}

.delete-glow {
    outline: 0 solid transparent;
}

.delete-glow:has(.delete:hover) {
    outline: 1px solid rgb(239, 68, 68);
    border-radius: 0.25em;
    background-color: rgba(239, 68, 68, 0.2);
    transition: color, background-color, outline-color 150ms;
}

.add-glow{
    outline: 0 solid transparent;
}

.add-glow:has(.add:hover) {
    outline: 1px solid rgb(34, 197, 94);
    border-radius: 0.25em;
    background-color: rgba(34, 197, 94, 0.2);
    transition: color, background-color, outline-color 150ms;
}